@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
:root {
  --color-theme: #20D3C2;
  --color-theme-light: #edfcfa;
  --color-theme-dark: #0E153D;
  --color-theme-dark-light: #50546E;
  --color-dark: #080C24;
  --color-white: #FFFFFF;
  --color-gray-0: #AAAAAA;
  --color-gray-1: #CCCCCC;
  --color-gray-2: #E3E3E3;
  --color-gray-3: #EEEEEE;
  --color-gray-4: #F6F6F6;
  --color-gray-5: #777777;
  --color-product-instock: #82D8C6;
  --color-product-outofstock: #FE6C6C;
  --font-play: "Play", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --border-radius-small: 8px;
  --border-radius-medium: 25px;
  --border-radius-rounded: 50%;
  --font-size-14: 1.17rem;
  --font-size-16: 1.33rem;
  --font-size-18: 1.50rem;
  --font-size-24: 2rem;
  --font-size-36: 3rem;
  --font-size-60: 5rem;
}

html,
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-regular);
  color: var(--color-theme-dark);
}

.btn-theme {
  background-color: var(--color-theme);
  color: var(--color-white);
  border-radius: var(--border-radius-medium);
  font-weight: var(--font-weight-medium);
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.btn-theme:hover {
  background-color: var(--color-theme-dark);
  color: var(--color-white);
}

.bg-theme {
  background-color: var(--color-theme);
}

.instock {
  color: var(--color-product-instock);
}

.outofstock {
  color: var(--color-product-outofstock);
}

.required {
  color: var(--color-theme);
}

.top-menu {
  background-color: var(--color-theme);
  color: var(--color-white);
  height: 40px;
}
.top-menu .container {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
}
.top-menu .container .site-settings {
  display: flex;
}
.top-menu .container .site-settings .dropdown-theme {
  background-color: var(--color-theme);
  color: var(--color-white);
  margin: 0.5rem;
}
.top-menu .container .site-settings .dropdown-theme button {
  background-color: var(--color-theme);
  color: var(--color-white);
  border: none;
  padding: 0;
}
.top-menu .container .site-settings .dropdown-theme button:hover {
  color: var(--color-theme-dark);
}
.top-menu .container .site-settings .dropdown-theme .dropdown-menu {
  background-color: var(--color-theme);
  color: var(--color-white);
  border: none;
  width: 250px;
  margin-top: 3rem;
}
.top-menu .container .site-settings .dropdown-theme .dropdown-menu .dropdown-item {
  background-color: var(--color-theme);
  color: var(--color-white);
  border: none;
  width: 100%;
  margin: 0;
}
.top-menu .container .site-settings .dropdown-theme .dropdown-menu .dropdown-item:hover {
  background-color: var(--color-theme-dark);
  color: var(--color-white);
}
.top-menu .container .menu-links a {
  color: var(--color-white);
  text-decoration: none;
  margin: 1rem;
}
.top-menu .container .menu-links a:hover {
  color: var(--color-theme-dark);
}
.top-menu .container .menu-links .social-media {
  margin-left: 1rem;
  font-size: var(--font-size-14);
}
.top-menu .container .menu-links .social-media a {
  margin: 0.3rem;
}
.top-menu .container .menu-links .social-media a:last-child {
  margin: 0 0 0 0.3rem;
}

.main-menu {
  background-color: var(--color-white);
  color: var(--color-theme-dark);
}
.main-menu > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}
.main-menu .brand {
  flex: 1;
}
.main-menu .search {
  flex: 3;
}
.main-menu .search #searchboxForm {
  border-radius: var(--border-radius-medium);
  height: 45px;
  margin: auto;
  position: relative;
}
.main-menu .search #searchboxForm input {
  position: absolute;
  border-radius: var(--border-radius-medium);
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid var(--color-gray-2);
  font-size: 0.9rem;
  padding-left: 1.3rem;
}
.main-menu .search #searchboxForm button {
  position: absolute;
  top: 0;
  right: -2px;
  width: 50px;
  height: 100%;
  background-color: var(--color-theme);
  color: var(--color-white);
  border: none;
  border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
  transition: 0.3s ease-in-out;
}
.main-menu .search #searchboxForm button:hover {
  background-color: var(--color-theme-dark);
}
.main-menu .menu-links {
  flex: 2;
  display: flex;
  justify-content: end;
  align-items: center;
}
.main-menu .menu-links .menu-link {
  text-decoration: none;
  color: var(--color-theme-dark);
  margin: 0 0.5rem;
}
.main-menu .menu-links .menu-link:hover {
  text-decoration: none;
  color: var(--color-theme);
}
.main-menu .menu-links .menu-link:first-child {
  margin: 0 2rem 0 0;
}
.main-menu .menu-links .menu-link:last-child {
  margin: 0 0 0 0.5rem;
}
.main-menu .menu-links .menu-link i {
  font-size: var(--font-size-16);
}
.main-menu .menu-links #cart {
  position: relative;
}
.main-menu .menu-links #cart .badge {
  position: absolute;
  top: -1.3rem;
  left: 0.7rem;
}
.main-menu .menu-links #cart:hover .badge {
  background-color: var(--color-theme-dark);
}
.main-menu nav {
  border-top: 1px solid var(--color-gray-2);
  border-bottom: 1px solid var(--color-gray-2);
}
.main-menu nav .browse-categories {
  flex: 2;
}
.main-menu nav .browse-categories button {
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.7rem;
  background-color: var(--color-theme);
  color: var(--color-white);
  border: none;
  transition: 0.3s ease-in-out;
}
.main-menu nav .browse-categories button i {
  font-size: 1.33em;
}
.main-menu nav .browse-categories button span {
  display: flex;
  align-items: center;
}
.main-menu nav .browse-categories button:hover {
  background-color: var(--color-theme-dark);
}
.main-menu nav .browse-categories .dropdown-menu {
  background-color: var(--color-theme);
  color: var(--color-white);
}
.main-menu nav .browse-categories .dropdown-menu .dropdown-item {
  color: var(--color-white);
}
.main-menu nav .browse-categories .dropdown-menu .dropdown-item:hover {
  background-color: var(--color-theme-dark);
}
.main-menu nav .special-offers {
  flex: 7;
  display: flex;
  justify-content: end;
  align-items: center;
}
.main-menu > nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account {
  display: flex;
  height: 140px;
  background-color: var(--color-theme-dark-light);
}
.account .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account .container .my-account h1 {
  color: var(--color-theme);
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
  margin: 0;
}
.account .container .breadcrumb {
  margin: 0;
}
.account .container .breadcrumb .breadcrumb-item:nth-child(1) a {
  text-decoration: none;
  color: var(--color-theme);
  font-size: 1rem;
}
.account .container .breadcrumb .breadcrumb-item:nth-child(1) a:hover {
  color: var(--color-white);
  text-decoration: underline;
}
.account .container .breadcrumb .breadcrumb-item:nth-child(2) a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1rem;
}
.account .container .breadcrumb .breadcrumb-item:nth-child(2) a:hover {
  color: var(--color-white);
  text-decoration: underline;
}

.login-register {
  margin-top: 7rem;
}
.login-register .container {
  display: flex;
  justify-content: space-between;
}
.login-register .container .login {
  padding: 1.3rem;
  width: 49%;
  background-color: var(--color-gray-4);
  border-radius: var(--border-radius-small);
  height: 100%;
}
.login-register .container .login h1 {
  font-size: 1.5rem;
}
.login-register .container .login #loginForm [type=checkbox] {
  width: 20px;
  height: 20px;
}
.login-register .container .login #loginForm input [type=text],
.login-register .container .login #loginForm [type=email],
.login-register .container .login #loginForm [type=password] {
  display: block;
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 0.5rem 0.9rem;
  margin: 0.3rem 0;
}
.login-register .container .login #loginForm input [type=text]:focus,
.login-register .container .login #loginForm [type=email]:focus,
.login-register .container .login #loginForm [type=password]:focus {
  outline: 0;
  box-shadow: 0 0 3px 0 var(--color-theme-dark);
}
.login-register .container .login #loginForm a {
  text-decoration: none;
  color: var(--color-theme);
  font-size: 1rem;
}
.login-register .container .login #loginForm a:hover {
  color: var(--color-theme-dark);
  font-weight: var(--font-weight-medium);
}
.login-register .container .login .external-logins {
  position: relative;
  display: flex;
  justify-content: center;
}
.login-register .container .login .external-logins .label {
  position: absolute;
  background-color: var(--color-gray-4);
  padding: 0 0.8rem;
  z-index: 1;
  font-weight: var(--font-weight-medium);
}
.login-register .container .login .external-logins .line {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  border: 1px solid var(--color-gray-0);
  z-index: 0;
  opacity: 0.5;
}
.login-register .container .login .external-socialmedia-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.login-register .container .login .external-socialmedia-buttons .facebook-button {
  text-align: left;
}
.login-register .container .login .external-socialmedia-buttons .facebook-button button {
  background-image: url(../images/Buttons/facebook-login-button.png);
  background-repeat: no-repeat;
  border: none;
  height: 42px;
  width: 235px;
}
.login-register .container .login .external-socialmedia-buttons .facebook-button button:hover {
  filter: brightness(90%);
}
.login-register .container .login .external-socialmedia-buttons .google-button {
  text-align: right;
}
.login-register .container .login .external-socialmedia-buttons .google-button button {
  background-image: url(../images/Buttons/google-login-button.png);
  background-repeat: no-repeat;
  border: none;
  height: 42px;
  width: 235px;
}
.login-register .container .login .external-socialmedia-buttons .google-button button:hover {
  filter: brightness(90%);
}
.login-register .container .register {
  padding: 2rem 1.5rem;
  width: 49%;
  background-color: var(--color-gray-4);
  border-radius: var(--border-radius-small);
  height: 100%;
  margin-bottom: 5rem;
}
.login-register .container .register h1 {
  font-size: 1.5rem;
}
.login-register .container .register .upper-text {
  margin-top: 1rem;
  color: var(--color-gray-5);
  font-size: 0.875rem;
  line-height: 2;
}
.login-register .container .register #registerForm input,
.login-register .container .register #registerForm [type=text],
.login-register .container .register #registerForm [type=email],
.login-register .container .register #registerForm [type=password] {
  display: block;
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 0.5rem 0.9rem;
  margin: 0.3rem 0;
}
.login-register .container .register #registerForm input:focus,
.login-register .container .register #registerForm [type=text]:focus,
.login-register .container .register #registerForm [type=email]:focus,
.login-register .container .register #registerForm [type=password]:focus {
  outline: 0;
  box-shadow: 0 0 3px 0 var(--color-theme-dark);
}
.login-register .container .register #registerForm .lower-text {
  margin-top: 1rem;
  font-size: 1rem;
}
.login-register .container .register #registerForm .lower-text a {
  color: var(--color-theme);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}
.login-register .container .register #registerForm .lower-text a:hover {
  color: var(--color-theme-dark);
  text-decoration: underline;
}

footer {
  background-color: var(--color-dark);
}
footer .container {
  padding: 2rem 0rem;
  font-size: 1rem;
  color: var(--color-white);
}

@media (min-width: 578px) {
  .top-menu .menu-links {
    display: block;
  }
  .top-menu .menu-links .social-media {
    display: inline;
  }
  .top-menu .container {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .top-menu .container {
    justify-content: space-between;
  }
  .top-menu .menu-links .links {
    display: inline;
  }
}/*# sourceMappingURL=account.css.map */