// Bestämde mig för att skriva all CSS i ett .SCSS dokument istället för ett vanligt CSS dokument då koden blir mycket finare, renare, lättare att nå samt förstå. Så det vanliga .CSS dokumentet kan du ignorera)
// (Vanlig CSS vägrar att nästla för någon anledning, troligen nån sorts extension som jag verkligen inte kan hitta. Så SCSS var mitt bästa alternativ för att få mer ren kod. Därför finns inga SASS delar med här, SCSS har jag bara för att strukturera koden mer proffsigt)
// (STYLE.CSS.MAP är något som min live sass/scss extension skapar när jag aktiverar den. Tror inte att den är relevan alls men låter den vara kvar ifall att)


// (Importerings-länk för typsnitten använda på sidan)
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');


// (ROOT del, gör så att det blir lättare att nå färger, storlekar och annat genom att på sätt och vis deklarera variabler med fasta namn och värden)
:root {
    --color-theme: #20D3C2;
    --color-theme-light: #edfcfa;
    --color-theme-dark: #0E153D;
    --color-theme-dark-light: #50546E;
    --color-dark: #080C24;
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #EEEEEE;
    --color-gray-4: #F6F6F6;
    --color-gray-5: #777777;
    --color-product-instock: #82D8C6;
    --color-product-outofstock: #FE6C6C;
    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;
}

// general
// (Detta är kod som ska göra det enklare att göra vissa saker "globala", allstå alla element av specifik klass ska se ut på visst sätt) 

html,
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
}

.btn-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.75rem;
    padding-right: 1.75rem;

    &:hover {
        background-color: var(--color-theme-dark);
        color: var(--color-white);
    }
}

.bg-theme {
    background-color: var(--color-theme);
}

.instock {
    color: var(--color-product-instock);
}

.outofstock {
    color: var(--color-product-outofstock);
}

.required {
    color: var(--color-theme);
}

// --- MAIN PAGE

// MENU
// (Enbart Flexbox. Menyn är teknikst sätt uppdelad i 3 delar, en topp sektion, en main sektion och en en sorts navigations sektion som är nästlad inuti main-menu)

.top-menu {
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;

    .container {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0;

        .site-settings {
            display: flex;

            .dropdown-theme {
                background-color: var(--color-theme);
                color: var(--color-white);
                margin: 0.5rem;

                button {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: none;
                    padding: 0;

                    &:hover {
                        color: var(--color-theme-dark);
                    }
                }

                .dropdown-menu {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: none;
                    width: 250px;
                    margin-top: 3rem;

                    .dropdown-item {
                        background-color: var(--color-theme);
                        color: var(--color-white);
                        border: none;
                        width: 100%;
                        margin: 0;

                        &:hover {
                            background-color: var(--color-theme-dark);
                            color: var(--color-white);
                        }
                    }
                }
            }
        }

        .menu-links {

            a {
                color: var(--color-white);
                text-decoration: none;
                margin: 1rem;

                &:hover {
                    color: var(--color-theme-dark);
                }
            }

            .social-media {
                margin-left: 1rem;
                font-size: var(--font-size-14);

                a {
                    margin: 0.3rem;

                    &:last-child {
                        margin: 0 0 0 0.3rem;
                    }
                }
            }
        }
    }

}

.main-menu {
    background-color: var(--color-white);
    color: var(--color-theme-dark);

    >.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }

    .brand {
        flex: 1;
    }

    .search {
        flex: 3;

        #searchboxForm {
            border-radius: var(--border-radius-medium);
            height: 45px;
            margin: auto;
            position: relative;

            input {
                position: absolute;
                border-radius: var(--border-radius-medium);
                height: 100%;
                width: 100%;
                outline: none;
                border: 1px solid var(--color-gray-2);
                font-size: 0.9rem;
                padding-left: 1.3rem;
            }

            button {
                position: absolute;
                top: 0;
                right: -2px;
                width: 50px;
                height: 100%;
                background-color: var(--color-theme);
                color: var(--color-white);
                border: none;
                border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: var(--color-theme-dark);
                }
            }
        }
    }

    .menu-links {
        flex: 2;
        display: flex;
        justify-content: end;
        align-items: center;

        .menu-link {
            text-decoration: none;
            color: var(--color-theme-dark);
            margin: 0 0.5rem;

            &:hover {
                text-decoration: none;
                color: var(--color-theme);
            }

            &:first-child {
                margin: 0 2rem 0 0;
            }

            &:last-child {
                margin: 0 0 0 0.5rem;
            }

            i {
                font-size: var(--font-size-16);
            }
        }

        #shuffle {
            position: relative;

            .badge {
                position: absolute;
                top: -1.3rem;
                left: 0.5rem;
            }

            &:hover {
                .badge {
                    background-color: var(--color-theme-dark);
                }
            }
        }

        #cart {
            position: relative;

            .badge {
                position: absolute;
                top: -1.3rem;
                left: 0.7rem;
            }

            &:hover {
                .badge {
                    background-color: var(--color-theme-dark);
                }
            }
        }
    }

    nav {
        border-top: 1px solid var(--color-gray-2);
        border-bottom: 1px solid var(--color-gray-2);

        .browse-categories {
            flex: 2;

            button {
                font-size: 1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.7rem 1.7rem;
                background-color: var(--color-theme);
                color: var(--color-white);
                border: none;
                transition: 0.3s ease-in-out;

                i {
                    font-size: 1.33em;
                }

                span {
                    display: flex;
                    align-items: center;
                }

                &:hover {
                    background-color: var(--color-theme-dark);
                }
            }

            .dropdown-menu {
                background-color: var(--color-theme);
                color: var(--color-white);

                .dropdown-item {
                    color: var(--color-white);

                    &:hover {
                        background-color: var(--color-theme-dark);
                    }
                }
            }

        }

        .special-offers {
            flex: 7;
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }

    >nav {
        >.container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

// section
// (Denna del heter enbart section då det är en sorts "main section" den är väldigt stor och ska fånga ögat)
// (Den är byggd med FLEXBOX)

section {
    background-color: var(--color-gray-3);
    height: 100%;

    .container {
        display: flex;
        justify-content: space-between;

        .section-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 30rem;

            h1 {
                font-weight: var(--font-weight-regular);
                font-size: var(--font-size-60);
                margin-bottom: 1rem;
                font-family: var(--font-play);
            }

            .h1-bold {
                font-weight: var(--font-weight-bold);
                color: var(--color-theme);
            }

            p {
                width: 24rem;
            }

            button {
                border: none;
                width: 9rem;
                font-weight: var(--font-weight-medium);
                color: var(--color-theme);
                background-color: var(--color-theme-light);
                border-radius: var(--border-radius-medium);
                font-size: 16px;
                padding: 0.5rem 1rem 0.5rem 1rem;
                margin-top: 1rem;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: var(--color-theme-dark);
                    color: var(--color-white);
                }
            }
        }
    }
}

// info-boxes
// (Denna del består av FLEXBOX, och även lite TRANSITIONS)

.info-boxes {
    display: flex;
    justify-content: center;

    .container-fluid {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 7rem 0 0 0;
        width: fit-content;

        .box {
            display: flex;
            width: 397px;
            justify-content: space-between;
            margin: 1rem;
            border-radius: var(--border-radius-small);
            background-color: var(--color-theme-light);
            font-size: 16px;
            font-weight: var(--font-weight-regular);
            color: var(--color-theme-dark);
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: var(--color-theme);
                color: var(--color-white);

                .box-image {
                    filter: sepia(9%) brightness(1000%);
                }

                .box-text {
                    h1 {
                        color: var(--color-white);
                    }
                }
            }

            .box-image {
                padding: 1rem 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .box-text {
                padding: 1rem 1.5rem;

                h1 {
                    font-size: 20px;
                    font-weight: var(--font-weight-medium);
                    color: var(--color-theme);
                }
            }
        }
    }
}

// shop-by-category
// (Categories-top består av FLEXBOX)
// (Categories-main består av GRID. Specifikt har jag använt grid-area-template då det blir enklare att läsa av i koden, och i min åsikt blir det även lättare att skriva koden. Nackdelen här kan man anse vara att det blir mycket kod, vilket är varför jag delade upp sektionen i två delar)

.shop-by-category {

    .categories-top {
        margin: 7rem 0 0 0;

        .container {
            display: flex;
            justify-content: center;

            .categories-header {
                display: flex;
                justify-content: center;
                flex-direction: column;

                h2 {
                    display: flex;
                    justify-content: center;
                    font-family: var(--font-play);
                    font-size: var(--font-size-36);
                    font-weight: var(--font-weight-bold);

                    .category-header-span {
                        color: var(--color-theme);
                    }
                }

                .underline-svg {
                    margin: 1rem;
                    display: flex;
                    justify-content: center;
                }

                p {
                    display: flex;
                    justify-content: start;
                    font-size: var(--font-size-16);
                }
            }
        }
    }

    .categories-main {
        .container {
            .categories {
                display: grid;
                height: 100%;
                width: 100%;
                justify-content: center;
                grid-template-columns: repeat(5, 214px);
                grid-template-rows: repeat(3, 214px);
                grid-template-areas: "men women women kids kids""shoes shoes hats kids kids""shoes shoes sunglasses sunglasses watches";
                gap: 10px;
                position: relative;


                .categories-info {
                    background-color: var(--color-theme-dark);
                    color: var(--color-theme);
                    border-radius: 0 5px 0 5px;
                    width: 50%;
                    padding: 0.5rem 0 0.5rem 1rem;
                    position: absolute;
                    bottom: -2.5rem;
                    transition: bottom 0.2s ease-in-out;



                    p {
                        font-weight: var(--font-weight-medium);
                    }

                    span {

                        color: var(--color-white);
                        font-size: 14px;
                    }
                }

                a {
                    background-color: var(--color-gray-1);
                    border-radius: 10px;
                    transition: 0.3s ease-in-out;

                    &:hover {

                        .categories-info {
                            bottom: 0;
                        }
                    }
                }

                .men {
                    grid-area: men;
                    position: relative;
                    overflow: hidden;
                }

                .women {
                    grid-area: women;
                    position: relative;
                    overflow: hidden;
                }

                .kids {
                    grid-area: kids;
                    position: relative;
                    overflow: hidden;
                }

                .shoes {
                    grid-area: shoes;
                    position: relative;
                    overflow: hidden;
                }

                .hats {
                    grid-area: hats;
                    position: relative;
                    overflow: hidden;
                }

                .sunglasses {
                    grid-area: sunglasses;
                    position: relative;
                    overflow: hidden;
                }

                .watches {
                    grid-area: watches;
                    position: relative;
                    overflow: hidden;
                }
            }
        }
    }
}

// new-arrivals
// (Här är en blandning av BOOTSTRAP och egen kod då det såklart är enklast att inte bygga ALLT frång grund till topp. Flexbox, positioning och transitions användes mycket här)

.new-arrivals {
    margin: 7rem 0 0 0;

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .new-arrivals-header {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2 {
                display: flex;
                justify-content: center;
                font-family: var(--font-play);
                font-size: var(--font-size-36);
                font-weight: var(--font-weight-bold);

                .new-top-header-span {
                    color: var(--color-theme);
                }
            }

            .underline-svg {
                margin: 1rem;
                display: flex;
                justify-content: center;
            }

            p {
                display: flex;
                justify-content: center;
                font-size: var(--font-size-16);
            }
        }

        .card {
            position: relative;
            height: 400px;
            width: 350px;
            overflow: hidden;

            &:hover {

                .card-body {
                    height: 40%;

                    h1 {
                        margin-bottom: 0;
                    }
                }

                .card-menu {
                    top: 20px;
                }

                .card-background {
                    height: 100%;
                }
            }

            img {
                height: 400px;
            }

            .card-body {
                position: absolute;
                padding: 1rem;
                bottom: 0;
                height: 14%;
                width: 100%;
                color: var(--color-white);
                z-index: 1;
                transition: 0.3s ease-in-out;
                font-size: 1rem;

                h1 {
                    font-size: 1.125rem;
                    margin-bottom: 1rem;
                    transition: 0.3s ease-in-out;
                    font-weight: var(--font-weight-regular);
                }

                .card-old-price {
                    text-decoration: line-through;
                    margin: 0;
                }

                .card-discount-price {
                    font-size: 1.5em;
                    color: var(--color-theme);
                    font-weight: var(--font-weight-medium);
                    margin: 0;
                }

                .card-rating {
                    color: var(--color-theme);
                }

                button {
                    background-color: transparent;
                    color: var(--color-white);
                    border: 1px solid var(--color-white);
                    font-size: 0.875rem;
                    padding-left: 0.9rem;
                    padding-right: 0.9rem;
                    margin: 0.5rem 0;
                }


            }

            .card-background {
                position: absolute;
                bottom: 0;
                height: 15%;
                width: 100%;
                background-color: var(--color-theme-dark);
                opacity: 0.90;
                transition: height 0.3s ease-in-out;
            }

            .card-menu {
                position: absolute;
                z-index: 1;
                top: 120%;
                right: 1rem;
                list-style: none;
                padding: 0.8rem;
                font-size: 1.25rem;
                border-radius: var(--border-radius-medium);
                background-color: var(--color-white);
                transition: top 0.3s ease-in-out;

                li {
                    margin-top: 0.3rem;
                    margin-bottom: 0.3rem;
                    font-size: 1.0em;

                    a {
                        color: var(--color-gray-0);

                        &:hover {
                            color: var(--color-theme);
                        }
                    }
                }


            }



        }


    }
}

// special-offer
// (Flexbox använde jag här, i min åsikt enklast och snabbast)

.special-offer {
    display: flex;
    background-color: var(--color-gray-1);
    margin-top: 7rem;

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .special-offer-shop-now {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 418px;
            width: 255px;
            background-color: var(--color-theme);

            h2 {
                color: var(--color-white);
                font-size: var(--font-size-36);
                font-family: var(--font-play);
                font-weight: var(--font-weight-bold);
            }

            p {
                color: var(--color-white);
                font-size: 1rem;

            }

            button {
                background-color: var(--color-theme-light);
                color: var(--color-theme);
                border: none;
                border-radius: var(--border-radius-medium);
                font-size: 1rem;
                font-weight: var(--font-weight-medium);
                padding: 0.6rem 1rem;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: var(--color-theme-dark);
                    color: var(--color-white);
                }
            }
        }

        .special-offer-learn-more {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            font-size: 1rem;
            width: 45%;

            p {
                color: var(--color-white);
                line-height: 1.7rem;
            }

            button {
                border: none;
                border-radius: var(--border-radius-medium);
                font-weight: var(--font-weight-medium);
                background-color: var(--color-white);
                color: var(--color-theme);
                padding: 0.7rem 1.1rem;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: var(--color-theme-dark);
                    color: var(--color-white);
                }
            }
        }
    }



}

// featured products
// (Detta är i princip en copy-paste från new-arrivals delen med utbytta bilder och text i HTML)

.featured-products {
    margin-top: 7rem;

    .container {
        .featured-products-header {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2 {
                display: flex;
                justify-content: center;
                font-family: var(--font-play);
                font-size: var(--font-size-36);
                font-weight: var(--font-weight-bold);

                .featured-header-span {
                    color: var(--color-theme);
                }
            }

            .underline-svg {
                margin: 1rem;
                display: flex;
                justify-content: center;
            }

            p {
                display: flex;
                justify-content: center;
                font-size: var(--font-size-16);
            }
        }

        .card {
            position: relative;
            height: 400px;
            width: 350px;
            overflow: hidden;

            &:hover {

                .card-body {
                    height: 40%;

                    h1 {
                        margin-bottom: 0;
                    }
                }

                .card-menu {
                    top: 20px;
                }

                .card-background {
                    height: 100%;
                }
            }

            img {
                height: 400px;
            }

            .card-body {
                position: absolute;
                padding: 1rem;
                bottom: 0;
                height: 14%;
                width: 100%;
                color: var(--color-white);
                z-index: 1;
                transition: 0.3s ease-in-out;
                font-size: 1rem;

                h1 {
                    font-size: 1.125rem;
                    margin-bottom: 1rem;
                    transition: 0.3s ease-in-out;
                    font-weight: var(--font-weight-regular);
                }

                .card-old-price {
                    text-decoration: line-through;
                    margin: 0;
                }

                .card-discount-price {
                    font-size: 1.5em;
                    color: var(--color-theme);
                    font-weight: var(--font-weight-medium);
                    margin: 0;
                }

                .card-rating {
                    color: var(--color-theme);
                }

                button {
                    background-color: transparent;
                    color: var(--color-white);
                    border: 1px solid var(--color-white);
                    font-size: 0.875rem;
                    padding-left: 0.9rem;
                    padding-right: 0.9rem;
                    margin: 0.5rem 0;
                }


            }

            .card-background {
                position: absolute;
                bottom: 0;
                height: 15%;
                width: 100%;
                background-color: var(--color-theme-dark);
                opacity: 0.90;
                transition: height 0.3s ease-in-out;
            }

            .card-menu {
                position: absolute;
                z-index: 1;
                top: 120%;
                right: 1rem;
                list-style: none;
                padding: 0.8rem;
                font-size: 1.25rem;
                border-radius: var(--border-radius-medium);
                background-color: var(--color-white);
                transition: top 0.3s ease-in-out;

                li {
                    margin-top: 0.3rem;
                    margin-bottom: 0.3rem;
                    font-size: 1.0em;

                    a {
                        color: var(--color-gray-0);

                        &:hover {
                            color: var(--color-theme);
                        }
                    }
                }


            }



        }
    }
}

// flash-sale-section
// (Här är det flexbox som gäller för mig. Istället för att använda border dashed, använde jag outline dashed för att det blev mycket mer likt wireframen)

.flash-sale-section {
    background-color: var(--color-theme-dark);
    margin-top: 7rem;
    height: 435px;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .flash-sale {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 280px;
            height: 265px;
            background-color: var(--color-theme);

            h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3.7rem;
                color: var(--color-white);
                font-family: var(--font-play);
                font-weight: var(--font-weight-bold);
            }

            p {
                color: var(--color-white);
                font-weight: var(--font-weight-medium);
                font-size: 1.3rem;
            }
        }

        .flash-countdown {
            margin-top: 9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .countdown-circles {
                display: flex;
                flex-direction: row;
                gap: 2rem;

                .circle {
                    width: 109px;
                    height: 109px;
                    background-color: var(--color-white);
                    border-radius: var(--border-radius-rounded);
                    outline: var(--color-theme);
                    outline-style: dotted;

                    h1 {
                        font-family: var(--font-play);
                        font-weight: var(--font-weight-bold);
                        color: var(--color-theme);
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 0;
                    }

                    p {
                        font-weight: var(--font-weight-regular);
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            button {
                border-radius: var(--border-radius-medium);
                padding: 0.6rem 1.5rem;
                margin-top: 3rem;
                border: none;
                font-size: 1rem;
                font-weight: var(--font-weight-medium);
                color: var(--color-theme);
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                }
            }
        }
    }
}

// top-sellers
// (Här använde jag mig av GRID, specifikt grid-area-template då jag tycker att det är klarast, koden i min åsikt blir enklare att förstå men möjligen lite längre. Grid i dett fall är i min åsikt bäst då lite mer "irriterande" strukturer på divar blir simplare med just grid-are-templare, man får liksom en bild i koden hur det är strukturerat.)

.top-sellers {
    margin-top: 7rem;
    margin-bottom: 10rem;

    .container {
        display: flex;
        flex-direction: column;

        .top-sellers-header {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2 {
                display: flex;
                justify-content: center;
                font-family: var(--font-play);
                font-size: var(--font-size-36);
                font-weight: var(--font-weight-bold);

                .new-top-header-span {
                    color: var(--color-theme);
                }
            }

            .underline-svg {
                margin: 1rem;
                display: flex;
                justify-content: center;
            }

            p {
                display: flex;
                justify-content: center;
                font-size: var(--font-size-16);
            }
        }

        .top-sellers-grid {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(2, 550px);
            grid-template-rows: repeat(2, 345px);
            gap: 10px;
            grid-template-areas:
                "card-1 card-2"
                "card-1 card-3";

            .card-big {
                position: relative;
                height: 700px;
                overflow: hidden;
                border-radius: var(--border-radius-small);

                &:hover {

                    .card-body {
                        height: 20%;

                        h1 {
                            margin-bottom: 0;
                        }
                    }

                    .card-menu {
                        top: 20px;
                    }

                    .card-background {
                        height: 100%;
                    }
                }

                img {
                    height: 750px;
                }

                .card-body {
                    position: absolute;
                    padding: 1rem;
                    bottom: 0;
                    height: 7.5%;
                    width: 100%;
                    color: var(--color-white);
                    z-index: 1;
                    transition: 0.3s ease-in-out;
                    font-size: 1rem;

                    h1 {
                        font-size: 1.125rem;
                        margin-bottom: 1rem;
                        transition: 0.3s ease-in-out;
                        font-weight: var(--font-weight-regular);
                    }

                    .card-old-price {
                        text-decoration: line-through;
                        margin: 0;
                    }

                    .card-discount-price {
                        font-size: 1.5em;
                        color: var(--color-theme);
                        font-weight: var(--font-weight-medium);
                        margin: 0;
                    }

                    .card-rating {
                        color: var(--color-theme);
                    }

                    button {
                        background-color: transparent;
                        color: var(--color-white);
                        border: 1px solid var(--color-white);
                        font-size: 0.875rem;
                        padding-left: 0.9rem;
                        padding-right: 0.9rem;
                        margin: 0.5rem 0;
                    }


                }

                .card-background {
                    position: absolute;
                    bottom: 0;
                    height: 8%;
                    width: 100%;
                    background-color: var(--color-theme-dark);
                    opacity: 0.90;
                    transition: height 0.3s ease-in-out;
                }

                .card-menu {
                    position: absolute;
                    z-index: 1;
                    top: 120%;
                    right: 1rem;
                    list-style: none;
                    padding: 0.8rem;
                    font-size: 1.25rem;
                    border-radius: var(--border-radius-medium);
                    background-color: var(--color-white);
                    transition: top 0.3s ease-in-out;

                    li {
                        margin-top: 0.3rem;
                        margin-bottom: 0.3rem;
                        font-size: 1.0em;

                        a {
                            color: var(--color-gray-0);

                            &:hover {
                                color: var(--color-theme);
                            }
                        }
                    }


                }



            }

            .card-small {
                position: relative;
                height: 345px;
                overflow: hidden;
                border-radius: var(--border-radius-small);

                &:hover {

                    .card-body {
                        height: 43%;

                        h1 {
                            margin-bottom: 0;
                        }
                    }

                    .card-menu {
                        top: 20px;
                    }

                    .card-background {
                        height: 100%;
                    }
                }

                .card-body {
                    position: absolute;
                    padding: 1rem;
                    bottom: 0;
                    height: 14%;
                    width: 100%;
                    color: var(--color-white);
                    z-index: 1;
                    transition: 0.3s ease-in-out;
                    font-size: 1rem;

                    h1 {
                        font-size: 1.125rem;
                        margin-bottom: 1rem;
                        transition: 0.3s ease-in-out;
                        font-weight: var(--font-weight-regular);
                    }

                    .card-old-price {
                        text-decoration: line-through;
                        margin: 0;
                    }

                    .card-discount-price {
                        font-size: 1.5em;
                        color: var(--color-theme);
                        font-weight: var(--font-weight-medium);
                        margin: 0;
                    }

                    .card-rating {
                        color: var(--color-theme);
                    }

                    button {
                        background-color: transparent;
                        color: var(--color-white);
                        border: 1px solid var(--color-white);
                        font-size: 0.875rem;
                        padding-left: 0.9rem;
                        padding-right: 0.9rem;
                        margin: 0.5rem 0;
                    }


                }

                .card-background {
                    position: absolute;
                    bottom: 0;
                    height: 13%;
                    width: 100%;
                    background-color: var(--color-theme-dark);
                    opacity: 0.90;
                    transition: height 0.3s ease-in-out;
                }

                .card-menu {
                    position: absolute;
                    z-index: 1;
                    top: 120%;
                    right: 1rem;
                    list-style: none;
                    padding: 0.8rem;
                    font-size: 1.25rem;
                    border-radius: var(--border-radius-medium);
                    background-color: var(--color-white);
                    transition: top 0.3s ease-in-out;

                    li {
                        margin-top: 0.3rem;
                        margin-bottom: 0.3rem;
                        font-size: 1.0em;

                        a {
                            color: var(--color-gray-0);

                            &:hover {
                                color: var(--color-theme);
                            }
                        }
                    }


                }



            }

            .grid-1 {
                grid-area: card-1;
                background-color: var(--color-gray-3);
                border-radius: var(--border-radius-small);
            }

            .grid-2 {
                grid-area: card-2;
                background-color: var(--color-gray-3);
                border-radius: var(--border-radius-small);
            }

            .grid-3 {
                grid-area: card-3;
                background-color: var(--color-gray-3);
                border-radius: var(--border-radius-small);
            }
        }
    }

}

// Subscribe-section
// (Använde flexbox här, vid ev felmeddelanden så ska ytan under input-fältet kunna expandera och visa vad som är fel)

.subscribe-section {
    background-color: var(--color-gray-4);

    .container {
        display: flex;
        justify-content: space-between;

        .subscribe-now {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 540px;
            height: 100%;
            margin-top: 4rem;
            margin-bottom: 7rem;

            h2 {
                font-family: var(--font-play);
                font-weight: var(--font-weight-bold);
                font-size: var(--font-size-36);

                span {
                    color: var(--color-theme);
                }
            }

            p {
                margin-top: 1rem;
                font-weight: var(--font-weight-regular);
                font-size: 1rem;
            }

            .email {
                margin-top: 1rem;

                #emailBoxForm {
                    position: relative;

                    input {
                        position: absolute;
                        border-radius: var(--border-radius-medium);
                        padding: 1rem;
                        width: 100%;
                        height: 55px;
                        outline: none;
                        border: 1px solid var(--color-gray-2);
                    }

                    button {
                        border: none;
                        border-radius: var(--border-radius-medium);
                        position: absolute;
                        top: 4px;
                        right: 4px;
                        width: 100px;
                        height: 47px;
                        background-color: var(--color-theme);
                        color: var(--color-white);
                        transition: 0.3s ease-in-out;

                        &:hover {
                            background-color: var(--color-theme-dark);
                        }
                    }
                }
            }
        }

        .gray-area {
            width: 540px;
            background-color: var(--color-gray-1);
        }
    }
}

// footer
// (Finns inte så mycket att säga om denna simpla del, använta mig av flexbox)

footer {
    background-color: var(--color-dark);

    .container {
        padding: 2rem 0rem;
        font-size: 1rem;
        color: var(--color-white);
    }
}

// --- ACCOUNT PAGE ---
// Account section
// (Använt flexbox här då jag föredrar det och tycker att det är mer bekvämt att arbeta med)

.account {
    display: flex;
    height: 140px;
    background-color: var(--color-theme-dark-light);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .my-account {
            h1 {
                color: var(--color-theme);
                font-size: 1.5rem;
                font-weight: var(--font-weight-medium);
                margin: 0;
            }
        }

        .breadcrumb {
            margin: 0;

            .breadcrumb-item:nth-child(1) {
                a {
                    text-decoration: none;
                    color: var(--color-theme);
                    font-size: 1rem;

                    &:hover {
                        color: var(--color-white);
                        text-decoration: underline;
                    }
                }
            }

            .breadcrumb-item:nth-child(2) {
                a {
                    text-decoration: none;
                    color: var(--color-white);
                    font-size: 1rem;

                    &:hover {
                        color: var(--color-white);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// login & register
// (Använt flexbox här då jag föredrar det och tycker att det är mer bekvämt att arbeta med)
// (Förstår inte riktigt vad som menas med att det ska finnas plats för felmeddelanden, men om jag fatta rätt så ska mellanrummet mellan alla forms kunna ökas för att få plats med eventuella felmeddelanden

.login-register {
    margin-top: 5rem;
    background-color: var(--color-white);

    .container {
        display: flex;
        justify-content: space-between;

        .login {
            padding: 1.3rem;
            width: 49%;
            background-color: var(--color-gray-4);
            border-radius: var(--border-radius-small);
            height: 100%;

            h1 {
                font-size: 1.5rem;
            }

            #loginForm {

                [type=checkbox] {
                    width: 20px;
                    height: 20px;
                }

                input [type=text],
                [type=email],
                [type=password] {
                    display: block;
                    width: 100%;
                    border-radius: 7px;
                    border: none;
                    padding: 0.5rem 0.9rem;
                    margin: 0.3rem 0;

                    &:focus {
                        outline: 0;
                        box-shadow: 0 0 3px 0 var(--color-theme-dark);
                    }
                }

                a {
                    text-decoration: none;
                    color: var(--color-theme);
                    font-size: 1rem;

                    &:hover {
                        color: var(--color-theme-dark);
                        font-weight: var(--font-weight-medium);
                    }
                }
            }

            .external-logins {
                position: relative;
                display: flex;
                justify-content: center;

                .label {
                    position: absolute;
                    background-color: var(--color-gray-4);
                    padding: 0 0.8rem;
                    z-index: 1;
                    font-weight: var(--font-weight-medium);
                }

                .line {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    border: 1px solid var(--color-gray-0);
                    z-index: 0;
                    opacity: 0.5;
                }
            }

            .external-socialmedia-buttons {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2rem;

                .facebook-button {
                    text-align: left;

                    button {
                        background-image: url(../images/Buttons/facebook-login-button.png);
                        background-repeat: no-repeat;
                        border: none;
                        height: 42px;
                        width: 235px;

                        &:hover {
                            filter: brightness(90%);
                        }
                    }
                }

                .google-button {
                    text-align: right;

                    button {
                        background-image: url(../images/Buttons/google-login-button.png);
                        background-repeat: no-repeat;
                        border: none;
                        height: 42px;
                        width: 235px;

                        &:hover {
                            filter: brightness(90%);
                        }
                    }
                }
            }


        }

        .register {
            padding: 2rem 1.5rem;
            width: 49%;
            background-color: var(--color-gray-4);
            border-radius: var(--border-radius-small);
            height: 100%;
            margin-bottom: 5rem;

            h1 {
                font-size: 1.5rem;
            }

            .upper-text {
                margin-top: 1rem;
                color: var(--color-gray-5);
                font-size: 0.875rem;
                line-height: 2;
            }

            #registerForm {

                input,
                [type=text],
                [type=email],
                [type=password] {
                    display: block;
                    width: 100%;
                    border-radius: 7px;
                    border: none;
                    padding: 0.5rem 0.9rem;
                    margin: 0.3rem 0;

                    &:focus {
                        outline: 0;
                        box-shadow: 0 0 3px 0 var(--color-theme-dark);
                    }
                }

                .lower-text {
                    margin-top: 1rem;
                    font-size: 1rem;

                    a {
                        color: var(--color-theme);
                        text-decoration: none;
                        font-weight: var(--font-weight-medium);

                        &:hover {
                            color: var(--color-theme-dark);
                            text-decoration: underline;
                        }
                    }
                }

            }




        }
    }
}



// --- MEDIA QUERIES (inte satsat på att göra sidan responsiv då det inte var med i kriterierna)

@media (min-width: 578px) {
    .top-menu {
        .menu-links {
            display: block;

            .social-media {
                display: inline;
            }
        }

        .container {
            justify-content: space-between;
        }
    }
}

@media (min-width: 992px) {
    .top-menu {
        .container {
            justify-content: space-between;
        }

        .menu-links {
            .links {
                display: inline;
            }
        }

    }
}